* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.sec1 {
    height: 80vh;
    width: 100%;
    display: flex;
    margin-top: 90px;
}

.sec2 {
    height: 60vh;
    width: 100%;
    margin-top: 30px;
    
}